:root {
  --headingfontsize: 85px;
  --contentfontsize: 22px;
  /**headingfonts**/
  --fontfamilyone: 'Alegreya SC', serif;
  --fontfamilytwo: 'Marcellus SC', serif;
  --fontfamilythree: 'Cinzel', serif;
  --fontfamilyfour: 'Julius Sans One', sans-serif;
  --fontfamilyfive: 'Playfair Display SC', serif;
  --fontfamilysix: 'Vidaloka', serif;
  --fontfamilyseven: 'Federo', sans-serif;
  --fontfamilyeight: 'Montserrat Subrayada', sans-serif;
  --fontfamilynine: 'Italiana', serif;
  --fontfamilyten: 'Iceland', cursive;

  /**contentfonts**/
  --fontfamilytwentyone: 'Abel', sans-serif;
  --fontfamilytwentytwo: 'Alegreya', serif; /**no**/
  --fontfamilytwentythree: 'Arapey', serif;
  --fontfamilytwentyfour: 'Arima Madurai', cursive; /**no**/
  --fontfamilytwentyfive: 'Arsenal', sans-serif;
  --fontfamilytwentysix: 'Bentham', serif;  /**no**/
  --fontfamilytwentyseven: 'Carrois Gothic', sans-serif;
  --fontfamilytwentyeight: 'El Messiri', sans-serif; /**no**/
  --fontfamilytwentynine: 'Frank Ruhl Libre', serif;
  --fontfamilythirty: 'Gilda Display', serif;
  --fontfamilythirtyone: 'Krub', sans-serif;
  --fontfamilythirtytwo: 'Nixie One', cursive; /**no**/
  --fontfamilythirtythree: 'Nunito', sans-serif;
  --fontfamilythirtyfour: 'Quicksand', sans-serif;
  --fontfamilythirtyfive: 'Raleway', sans-serif;
  --fontfamilythirtysix: 'Rambla', sans-serif; /**no**/
  --fontfamilythirtyseven: 'Roboto Slab', serif; /**no**/
  --fontfamilythirtyeight: 'Sansita', sans-serif; /**no**/
  --fontfamilythirtynine: 'Thasadith', sans-serif;
  --fontfamilyfourt: 'Ubuntu', sans-serif; /**no**/
  --fontfamilyfourtyone: 'Yrsa', serif;

  /**extrafonts**/
  --fontfamilyfiftyone: 'IBM Plex Serif', serif;
  --fontfamilyfiftytwo: 'Lora', serif;
  --fontfamilyfiftythree: 'PT Sans Narrow', sans-serif;
  --fontfamilyfiftyfour: 'PT Serif', serif;
  --fontfamilyfiftyfive: 'Source Serif Pro', serif;
  --fontfamilyfiftysix: 'Yanone Kaffeesatz', sans-serif;

  --colorone:  rgb(158, 160, 125);
  --colortwo: white;
}

h1 {
  font-family: var(--fontfamilyeight);
  font-size: var(--headingfontsize);
  padding: 50px 0 30px 0;
  margin: 0;
}

h4 {
  font-family: var(--fontfamilytwentyfive);
  font-style: italic;
}
p {
  font-family: var(--fontfamilythirtythree);
}
section.home {
  background: var(--colorone);
  padding: 60px 0;
}

section.home .homeborder {
  border-left: 10px solid black;
}

section.home .about {
  font-size: var(--contentfontsize);
  margin: 0 0 0 40px;
  max-width: 430px;
}

section.home p {
  margin: 0;
}

section.work .workborder {
  border-right: 10px solid black;
}

section.work .worksection {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  margin: 0 40px 20px 0;
  margin-left: auto;
}

section.work p {
  padding-bottom: 10px;
  margin: 0;
}

section.work h1 {
  text-align: right;
}

section.work .launch-link {
  background: var(--colorone);
  color: black;
}

section.work .launch-link:hover {
  background: var(--colorone);
  color: car(--colortwo);
  text-decoration: none;
}

section.contact {
  background-color: var(--colorone);
  margin-top: 80px;
  padding: 50px;
}

section.contact .contactcontent {
  line-height: 1.5em;
}

.navbar {
  font-family: var(--fontfamilythirtythree);
}

.pagecontent {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.email-link, .linkedin-link, .github-link, .instagram-link {
  color: black;
  font-family: var(--fontfamilythirtythree);
  padding: 10px;
}

.email-link:hover, .linkedin-link:hover, .github-link:hover, .instagram-link:hover {
  color: var(--colortwo);
  text-decoration: none;
}

@media (max-width: 571px) {
h1 {
  font-size: 40px;
  padding: 50px 0 20px 0;
}
p {
  font-size: 16px;
}
section.home .about {
  max-width: 200px;
  margin: 0 0 0 20px;
  }

section.work .workimage {
  display: none;
}
section.work .worksection {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  width: 100%;
  margin-left: auto;
}
section.work .workdescription {
  max-width: 100%;
  column-width: 100%;
}
section.contact {
  margin-top: 60px;
  padding: 40px;
}
}
