:root {
  --headingfontsize: 85px;
  --contentfontsize: 22px;
  --fontfamilyeight: 'Montserrat Subrayada', sans-serif;
  --fontfamilytwentyfive: 'Arsenal', sans-serif;
  --fontfamilythirtythree: 'Nunito', sans-serif;
   --colorone:  rgb(158, 160, 125);
  --colortwo: white;
}

h1 {
  font-family: var(--fontfamilyeight);
  font-size: var(--headingfontsize);
  padding: 50px 0 30px 0;
  margin-left: 10px;
  text-shadow: 1px 1px 2px white;
}

h4 {
  font-family: var(--fontfamilytwentyfive);
  font-style: italic;
}
p {
  font-family: var(--fontfamilythirtythree);
}
section.home {
  background: var(--colorone);
  padding: 60px 0;
}

section.home .homeborder {
  border-left: 10px solid black;
  margin-left: 10px;
}

section.home .about {
  font-size: var(--contentfontsize);
  margin: 0 0 0 40px;
  max-width: 430px;
}

section.home p {
  margin: 0;
}

section.home a {
  color: white;
  margin: 0;
  
}

section.work .workborder {
  border-right: 10px solid black;
}

section.work .worksection {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  margin: 0 40px 20px 0;
  margin-left: auto;
}

section.work .workdescription {
  padding: 50px;
}

section.work p {
  margin: 0 0 20px 0;
}

section.work h1 {
  text-align: right;
  text-shadow: 1px 1px 2px var(--colorone);

}

section.work h3 {
  font-family: var(--fontfamilyeight);
  text-align: right;
  margin-right: 40px;
  padding: 20px 0;
}

section.work .launch-link {
  background: var(--colorone);
  color: black;
 
}
section.work a {
  margin: 0 0 30px 0;
}

section.work .launch-link:hover {
  background: var(--colorone);
  color: var(--colortwo);
  text-decoration: none;
}

section.contact {
  background-color: var(--colorone);
  margin-top: 80px;
  padding: 50px;
}

section.contact .contactcontent {
  line-height: 1.5em;
}

img {
  border-radius: 4px;
}
.navbar {
  font-family: var(--fontfamilythirtythree);
}

.pagecontent {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.email-link, .linkedin-link, .github-link, .instagram-link {
  color: black;
  font-family: var(--fontfamilythirtythree);
  padding: 10px;
}

.email-link:hover, .linkedin-link:hover, .github-link:hover, .instagram-link:hover {
  color: var(--colortwo);
  text-decoration: none;
}

@media (max-width: 571px) {
h1 {
  font-size: 40px;
  padding: 50px 0 20px 0;
}
h3 {
  padding: 0;
}
p {
  font-size: 16px;
}
section.home .about {
  max-width: 200px;
  margin: 0 0 0 20px;
  }

section.work h3 {
  margin-right: 20px;
  padding: 20px;
}
section.work .workimage {
  display: none;
}
section.work .worksection {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 0;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  
}
section.work .workdescription {
  max-width: 100%;
  column-width: 100%;
  padding: 10px;
}

section.contact {
  margin-top: 60px;
  padding: 30px;
}
}
